<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cities Database Dashboard</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
 
  <!-- jumbotron Welcome -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1><b> Welcome to the city data analyis Dashboard!</b></h1>
        </div>
      </div>
    </div>
  </div>
  
  <!-- The div that holds our map -->
  <div class="container" id="map-id">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id = "metric-metadata">insert li function to generate list based on user selection</div>
        <p> COLMD4</p>
      </div>
      <div class="col-md-8">
        <div id = "top-10-bar"> Insert function to populate comparison barchart</div>
        <p>COLMD8</p>
      </div>
    </div>
  </div>
    
  
</div>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

  <!-- API Key -->
  <script type="text/javascript" src="../static/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/logic.js"></script>
</body>

</html>
